@model EotE_Encounter.Models.Encounter


<h3 class="encounter-title">@Model.Name</h3>
<div>
    <div id="iniative-list" class="list-group">
        <a id="add-character-item" asp-action="CreateCharacter" asp-controller="Character" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#character-container" class="list-group-item"><strong>Add a new character</strong></a>
        @{
            if (Model.Characters != null)
            {
                foreach (Character character in Model.Characters)
                {
                    if (character.Turn == true)
                    {
                        <div class="list-group-item current-turn">
                            <div class="row">
                                <div id="iniative-character-name" class="col-md-11">
                                    <a asp-action="Details" asp-controller="Character" asp-route-characterId="@character.Id" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#character-container" class="iniative-item"><h4>@character.Name</h4></a>
                                </div>
                                <div id="iniative-move-arrows" class="col-md-1">
                                    <a asp-action="ChangeInitiative" asp-controller="Encounter" asp-route-characterId="@character.Id" asp-route-direction="up" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#encounter-container">
                                        <span class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    <a asp-action="ChangeInitiative" asp-controller="Encounter" asp-route-characterId="@character.Id" asp-route-direction="down" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#encounter-container">
                                        <span class="glyphicon glyphicon-menu-down display-block"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div id="iniative-character-name" class="col-md-11">
                                    <a asp-action="Details" asp-controller="Character" asp-route-characterId="@character.Id" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#character-container" class="iniative-item"><h4>@character.Name</h4></a>
                                </div>
                                <div id="iniative-move-arrows" class="col-md-1">
                                    <a asp-action="ChangeInitiative" asp-controller="Encounter" asp-route-characterId="@character.Id" asp-route-direction="up" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#encounter-container">
                                        <span class="glyphicon glyphicon-menu-up"></span>
                                    </a>
                                    <a asp-action="ChangeInitiative" asp-controller="Encounter" asp-route-characterId="@character.Id" asp-route-direction="down" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#encounter-container">
                                        <span class="glyphicon glyphicon-menu-down display-block"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        }
    </div>
    <div class="row" id="encounter-controls">
        <div class="col-sm-2">
            <a class="btn btn-default" asp-action="ChangeTurn" asp-controller="Character" asp-route-direction="prev" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#encounter-container">Previous</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-default" asp-action="ChangeTurn" asp-controller="Character" asp-route-direction="next" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#encounter-container">Next</a>
        </div>
        <div class="col-sm-offset-9">
            <a id ="clear-encounter" class="btn btn-danger" asp-action="Clear" asp-controller="Encounter" asp-route-encounterJSON="@Json.Serialize(Model)" data-ajax="false" data-ajax-mode="replace" data-ajax-update="#encounter-container" onclick="return confirmClear()">Clear Encounter</a>
        </div>
    </div>
</div>

<script>
    //prompt user for clearing the encounter
    function confirmClear() {
        if (confirm("Are you sure you want to clear @Model.Name?")) {
            $("#clear-encounter").attr("data-ajax", "true");
            $("#character-container").html("").removeClass("bottom-colored-bar");
            return true;

        } else {
            return false;

        }

    }

    //adds and removes the class that highlights the currently selected character
    //but do not add the highlight to the 'add character' list item/button
    $(".list-group-item").click(function () {
        //add the colored bottom bar to the character container
        console.log(this);
        //$("#character-container").addClass("bottom-colored-bar");

        $(".selected-character").removeClass("selected-character");

        if (this.id != "add-character-item") {
            $(this).addClass("selected-character");

        }

    });

    $(".iniative-item").click(function () {
        $("#character-container").addClass("bottom-colored-bar");

    });

    $("#add-character-item").click(function () {
        $("#character-container").addClass("bottom-colored-bar");
    });
</script>