@model EotE_Encounter.Models.Character
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    for (int i = 0; i <= 10; i++)
    {
        if (i == 0)
        {
            listItems.Add(new SelectListItem
            {
                Text = i.ToString(),
                Value = i.ToString(),
                Selected = true

            });

        }
        else
        {
            listItems.Add(new SelectListItem
            {
                Text = i.ToString(),
                Value = i.ToString()

            });
        }
    }
}
<h3>Add a Character</h3>
<form class="character-form" onsubmit="return validateForm()" asp-controller="Character" asp-action="Add" data-ajax="false" data-ajax-mode="replace" data-ajax-update="#encounter-container">
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            @Html.LabelFor(c => c.Triumphs)
            @Html.DropDownListFor(c => c.Triumphs, listItems, "Number of Triumphs", new { @class = "form-control" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(c => c.Succeses)
            @Html.DropDownListFor(c => c.Succeses, listItems, "Number of Succeses", new { @class = "form-control" })
        </div>
        <div class="col-sm-4">
            @Html.LabelFor(c => c.Advantages)
            @Html.DropDownListFor(c => c.Advantages, listItems, "Number of Advantages", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Notes)
        @Html.TextAreaFor(c => c.Notes, new { @rows = 4, @class = "form-control textarea-disable-resize" })
    </div>
    <div class="btn-toolbar">
        <button type="submit" class="btn btn-default">Add</button>
        <button type="button" class="btn btn-default cancel-btn">Cancel</button>
    </div>
</form>

<script>
    var formSubmitted = false;
    //validate that both name and at least one dice role has been entered
    function validateForm() {
        if ($("#Name").val() != "") {
            formSubmitted = true;
            $("form").attr("data-ajax", "true");
            return true;
        }
        else {
            $("#Name").addClass("alert-border")
            return false;
        }
    }

    //on form submission, if the form has been validated, set the character container to be empty.
    $("form").submit(function () {
        if (formSubmitted) {
            $("#character-container").html("");
        }
    });

    //remove red alert border when name input is clicked again
    $("#Name").on("click", function () {
        $("#Name").removeClass("alert-border");

    });

    $(".cancel-btn").click(function (e) {
        e.preventDefault();
        $("#character-container").html("");

    });

</script>
